
@{
    ViewBag.Title = "New";
}

<h2>New Teacher</h2>

<form action="/Teacher/Create" method="POST">
    <div>
        <label for="TeacherFname">First Name: </label>
        <input type="text" name="TeacherFname" id="TeacherFname" />
    </div>
    <div>
        <label for="TeacherLname">Last Name: </label>
        <input type="text" name="TeacherLname" id="TeacherLname" />
    </div>
    <div>
        <label for="EmployeeNo">Employee No: </label>
        <input type="text" name="EmployeeNo" id="EmployeeNo" />
    </div>
    <div>
        <label for="HireDate">Hire Date: </label>
        <input type="date" name="HireDate" id="HireDate" />
    </div>
    <div>
        <label for="Salary">Salary($): </label>
        <input type="number" name="Salary" step="any" id="Salary" />
    </div>
    <div>
        <button>Add Teacher</button>
    </div>

</form>

